
<nav class="nav">

    <span>Wiki-Maps</span>

  <div>
    <!-- Always show link to public maps -->
    <button type="submit" id="pubMaps" class="btn"><i class="fa-solid fa-map"></i></button>

    <!-- If user is logged in, show them relevent links -->
    <% if (userId) { %>

      <!-- Link to favourites -->
      <button type="submit" id="favBtn" class="btn"><i class="fa-solid fa-star"></i></button>

      <!-- Link to logout -->
      <button type="submit" class="btn" id="logout">Logout</button>

    <% } else { %>

      <!-- Link to Login -->
      <button type="submit" id="login" class="btn">Login</button>

      <!-- Link to sign up -->
      <button type="submit" class="btn">Signup</button>

    <% } %>
</div>

</nav>
