<!DOCTYPE html>
<html lang="en">

<head>
  <title>Wiki Maps: Home</title>

  <%# Import styles and scripts for every page %>
  <%- include('partials/_stylesAndScripts') %>

  <%# Page specific styles and scripts %>
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  <script type="text/javascript" src="/scripts/index/app.js" defer></script>
</head>

<body>

  <%# Import navbar %>
  <%- include('partials/_nav', {userId}) %>
  <header>
    <h1>Share Popular Locations with Users :D</h1>

  </header>

  <main>
    <div id="most-liked">
      <h2>Most Liked</h2>
      <div class="map-container">

      </div>
    </div>
    <div id="most-viewed">
      <h2>Most Viewed</h2>
      <div class="map-container">

      </div>
    </div>
  </main>
</body>

</html>
