<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <%- include('partials/_stylesAndScripts') %>
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/index/app.js" defer></script>
  <script type="text/javascript" src="/scripts/maps/app.js"></script>
</head>

<body>
  <%- include('partials/_header', {userId}) %>
  <header>
    <h1>Wiki Maps</h1>

  </header>

  <main>
    <div id="most-liked">
      <h2>Most Liked</h2>
      <div class="map-container">

      </div>
    </div>
    <div id="most-viewed">
      <h2>Most Viewed</h2>
      <div class="map-container">

      </div>
    </div>
  </main>
</body>

</html>
