<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <%- include('partials/_stylesAndScripts') %>
  <link rel="stylesheet" href="/styles/userRelMapsLayout.css" type="text/css"/>

  <% if (renderType === 'allMaps') { %>
    <link rel="stylesheet" href="/styles/allMaps.css" type="text/css"/>
  <% } %>

  <% if (renderType === 'favourites') { %>
    <link rel="stylesheet" href="/styles/favourites.css" type="text/css"/>
  <% } %>

  <% if (renderType === 'collaborator') { %>
    <link rel="stylesheet" href="/styles/collaborator.css" type="text/css"/>
  <% } %>

  <script>
    const renderType = '<%= renderType %>';
    const userId = '<%= userId %>';
  </script>

  <script type="text/javascript" src="/scripts/userRelMaps/app.js" defer></script>
</head>

 <body>
  <%- include('partials/_header', {userId}) %>
  <h1>
    <% if (renderType === 'allMaps') { %>
      Public Maps
    <% } %>

    <% if (renderType === 'favourites') { %>
      My Favourites
    <% } %>

    <% if (renderType === 'collaborator') { %>
      Can Contribute to
    <% } %>
  </h1>

  <div id="mapContainer"></div>
  <button id="loadMoar">Can I haz maps</button>
 </body>
