<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/userRelMapsLayout.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/usersMaps.css" type="text/css"/>


  <script>
    const userId = '<%= userId %>';
  </script>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/usersMaps/app.js" defer></script>
</head>

<body>
  <div id="pop-up-background-edit-map" class="pop-up-background">
    <div class="pop-up">
      <section>
        <h2>Edit Map Details</h2>
        <form id="updateMapForm" action="">
          <label for="title">Title:</label>
          <input type="text" name="title" id="title">

          <label for="city">City:</label>
          <input type="text" name="city" id="city">

          <label for="description">Description:</label>
          <input type="text" name="description" id="description">

          <label for="cover_img">Link to cover photo:</label>
          <input type="text" name="cover_img" id="cover_img">

          <button type="submit">Update Map</button>
        </form>
      </section>
      <section>
        <h2>Collaborators</h2>
        <table id="collaborators" style="width: 100%;">
        </table>
      </section>
    </div>
  </div>

  <div id="pop-up-background-add-map" class="pop-up-background">
    <div class="pop-up">
      <section>
        <h2>Add Map</h2>
        <form id="addMapForm" action="">
          <label for="title">Title:</label>
          <input type="text" name="title" id="title" required>

          <label for="city">City:</label>
          <input type="text" name="city" id="city" required>

          <label for="description">Description:</label>
          <input type="text" name="description" id="description" required>

          <label for="cover_img">Link to cover photo:</label>
          <input type="text" name="cover_img" id="cover_img" required>

          <button type="submit">Add</button>
        </form>
      </section>
    </div>
  </div>


  <button id="addMapBtn">ADD NEW MAP</button>
  <h1>List of My Maps</h1>
  <div id="mapContainer"></div>
</body>

</html>
