<!DOCTYPE html>
<html lang="en">

<head>
  <%# Change title based on template vars renderType value %>
  <title>Wiki Maps:
    <% if (renderType === 'allMaps') { %>
      Public Maps
    <% } %>

    <% if (renderType === 'favourites') { %>
      Your Favourites
    <% } %>

    <% if (renderType === 'collaborator') { %>
      Collaborator Access
    <% } %>
  </title>

  <%# Import styles and scripts for every page %>
  <%- include('partials/_stylesAndScripts') %>

  <link rel="stylesheet" href="/styles/userRelMapsLayout.css" type="text/css"/>

  <%# Import collaborator styles if renderType is collaborator %>
  <% if (renderType === 'collaborator') { %>
    <link rel="stylesheet" href="/styles/collaborator.css" type="text/css"/>
  <% } %>

  <%# Pass template vars to fron end %>
  <script>
    const renderType = '<%= renderType %>';
    const userId = <%- userId %>;
  </script>

  <%# Page specifc script %>
  <script type="text/javascript" src="/scripts/userRelMaps/app.js" defer></script>
</head>

 <body>
  <%# Import navbar %>
  <%- include('partials/_nav', {userId}) %>

  <%# Change h1 based on render type %>
  <h1>
    <% if (renderType === 'allMaps') { %>
      Public Maps
    <% } %>

    <% if (renderType === 'favourites') { %>
      My Favourites
    <% } %>

    <% if (renderType === 'collaborator') { %>
      Can Contribute to
    <% } %>
  </h1>

  <%# id is used to target with jquery to render maps to page %>
  <div id="mapContainer"></div>
  <button id="loadMoar">Can I haz maps</button>
 </body>
