// https://coolors.co/fddd42-ee4266-fad19e-6b719e-1a535c
$colour-mustard: #FDDD42;
$colour-mustard-shade-4: #F2CA02;
$colour-paradise-pink: #EE4266;
$colour-deep-champagne: #FAD19E;
$colour-deep-champagne-tint-2: #FCE3C5;
$colour-dark-blue-gray: #6B719E;
$colour-dark-blue-gray-tint-4: #9CA0BF;
$colour-midnight-green-eagle: #1A535C;
$colour-midnight-green-eagle-tint-4: #2D909F;
$huh: #a3d0db;


// extremely small
$rem-very-x7-small: .328rem;
$rem-very-x4-small: .64rem;
$rem-very-x3-small: .8rem;
$rem-very-x2-small: 1rem;

// small
$rem-very-small: 1.25rem;
$rem-small: 1.953rem;

// Regular
$rem-medium: 2.441rem;
$rem-medium-large: 3.052rem;

// Huge
$rem-large: 3.815rem;
$rem-very-large: 4.768rem;
$rem-huge: 5.96rem;
