// https://coolors.co/fddd42-ee4266-fad19e-6b719e-1a535c
$colour-mustard: #FDDD42;
$colour-paradise-pink: #EE4266;
$colour-deep-champagne: #FAD19E;
$colour-dark-blue-gray: #6B719E;
$colour-midnight-green-eagle: #1A535C;

// small
$rem-very-small: 1.25rem;

// Regular
$rem-small: 1.953rem;
$rem-medium: 2.441rem;
$rem-medium-large: 3.052rem;

// Huge
$rem-large: 3.815rem;
$rem-very-large: 4.768rem;
$rem-huge: 5.96rem;
