#most-liked,
#most-viewed {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
}

.map-container {
  width: 80%;
  display: flex;
  overflow-x: scroll;
}
