body {
  flex-direction: column;
}
.addPopUp {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  backdrop-filter: blur(6px);

  height: 100%;
  width: 100%;
  z-index: 99900090;
  align-items: center;
  justify-content: center;
}

.displayFlex {
 display: flex !important;
}

.poppyUp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 40%;
  background-color: rgb(219, 219, 219);

}

form > button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
  padding: 0.3;
}

 #map {
  display: inline-block;
  height: 30rem;
  width: 80%;
  }
#buttons {
  display:flex;
  justify-content: flex-end;
  gap: 1rem
}

.btn {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 1rem 2rem;
}

.btn:not(:disabled):hover,
.btn:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.btn:disabled {
  filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

container {
  display: flex;
  border: 0.2rem solid;
  padding: 1rem;
  width: 90%;
  margin-bottom: 1.5rem;
  flex-direction: column;
  }

span {
  display: flex;
  margin-right: auto;

  }

.placesDetails {
  display:flex ;
  flex-direction: row;
}

#mapDetails {
  display: flex;
  overflow-x: scroll;
}

article {
  display: inline-block;
  width: 38%;
  flex-shrink: 0;
  border: 1px solid;
  padding: 1rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

img {
  width: 100%;
}


