@use 'globals' as *;


body {
  flex-direction: column;
}
.addPopUp {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  backdrop-filter: blur(6px);

  height: 100%;
  width: 100%;
  z-index: 99900090;
  align-items: center;
  justify-content: center;
}

.displayFlex {
 display: flex !important;
}

.displayMe {
  display: none !important;
}

.editPoppyUp, .poppyUp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 70%;
  background-color: $colour-deep-champagne;
  border-radius: $rem-very-x4-small;

  button {
    background-color: $colour-mustard;
    border: 0.$rem-very-x2-small solid;
    border-radius: $rem-very-x2-small;
    align-items: center;
    display: flex;
    justify-content: center;
  }

}

#editForm, #popUpForm {
    display: flex;
    flex-direction: column;
}


.editPopUp {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  backdrop-filter: blur(6px);

  height: 100%;
  width: 100%;
  z-index: 999000909;
  align-items: center;
  justify-content: center;
}


#titleRow {
  display:flex;
  justify-content: flex-end;
  gap: $rem-very-x2-small;
  align-items: center;

  > button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $rem-very-x4-small auto;
    padding: 0.3;
  }
}
#buttons {
  display: flex;
  gap: $rem-very-x2-small;
  height: $rem-medium-large;
}


 #map {
  display: inline-block;
  height: 50rem;
  width: 90%;
  }


.btn {
  background-color: $colour-mustard-shade-4;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: $rem-very-x2-small $rem-small;
}

.btn:not(:disabled):hover,
.btn:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.btn:disabled {
  filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.green {
  color: green !important;
}

container {

  display: flex;
  border: $rem-very-x10-small solid;
  padding: $rem-very-x2-small;
  width: 90%;
  margin-bottom: $rem-sorta-small;
  flex-direction: column;
  }

span {
  display: flex;
  margin-right: auto;

  }

.placesDetails {
  display:flex ;
  flex-direction: row;
}

#mapDetails {
  display: flex;
  overflow-x: scroll;
}

article {
    display: flex;
    flex-direction: column;
    width: 38%;
    flex-shrink: 0;
    border: 1px solid;
    padding: $rem-very-x2-small;
    margin-right: $rem-small;
    margin-bottom: $rem-very-x2-small;
    align-items: center;
    background-color: $colour-midnight-green-eagle-tint-4;
    border-radius: $rem-very-x4-small;
    border: none;


&:hover {
      background-color: $colour-dark-blue-gray-tint-4;
    }
}

img {
  width: 50%;
}


