@use 'globals' as *;


body {
  flex-direction: column;
}
.addPopUp {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  backdrop-filter: blur(6px);

  height: 100%;
  width: 100%;
  z-index: 99900090;
  align-items: center;
  justify-content: center;
}

.displayFlex {
 display: flex !important;
}

.displayMe {
  display: none !important;
}

.editBtn {
  margin-top: auto;
}

.editPoppyUp, .poppyUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 70%;
  background-color: $colour-deep-champagne;
  border-radius: $rem-very-x4-small;

  button {
    background-color: $colour-mustard;
    border: 0.1rem solid;
    border-radius: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: $rem-very-x3-small 0;
  }

}

#deletePlaceBtn {
  margin-top: $rem-medium;
  background-color: $colour-paradise-pink;
  padding: $rem-very-x3-small $rem-medium;
}

#editForm, #popUpForm {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    font-size: $rem-small;
}


.editPopUp {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  backdrop-filter: blur(6px);

  height: 100%;
  width: 100%;
  z-index: 999000909;
  align-items: center;
  justify-content: center;
}


#titleRow {
  display:flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;

  > button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;
    padding: 0.3;
  }
}
#buttons {
  display: flex;
  gap: 1rem;
  height: 3rem;
}


 #map {
  display: inline-block;
  height: 50rem;
  width: 90%;
  }


.btn {
  background-color: $colour-mustard-shade-4;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 1rem 2rem;
}

.btn:not(:disabled):hover,
.btn:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.btn:disabled {
  filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.green {
  color: green !important;
}

container {

  display: flex;
  border: 0.2rem solid;
  padding: 1rem;
  width: 90%;
  margin-bottom: 1.5rem;
  flex-direction: column;
  }

span {
  display: flex;
  margin-right: auto;

  }

.placesDetails {
  display:flex ;
  flex-direction: row;
}

#mapDetails {
  display: flex;
  overflow-x: auto;
  width: 100%;

}

article {
    display: flex;
    flex-direction: column;
    width: 38%;
    flex-shrink: 0;
    border: 1px solid;
    padding: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    align-items: center;
    background-color: $colour-midnight-green-eagle-tint-4;
    border-radius: $rem-very-x4-small;
    border: none;


&:hover {
      background-color: $colour-dark-blue-gray-tint-4;
    }
}

img {
  width: 100%;
  max-height: 25vh;
}


