@use 'globals' as *;

body {
  flex-direction: column;
}

h1 {
  margin-bottom: 0;
  margin-top: $rem-large;
}

button {
  background-color: $colour-mustard;
  border-radius: $rem-very-x4-small;
  border: none;
  border: solid 1px black;
  transition: all .25s;

  &:hover {
    background-color: $colour-mustard-shade-4;
  }
}

#mapContainer {
  width: 90%;
  > article {
    margin: $rem-small;
    > section {
      border-radius: $rem-very-x4-small;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      transition: all 0.5s;
      &:hover {
        background-color: $colour-dark-blue-gray;
      }


      display: flex;
      background-color: $colour-dark-blue-gray-tint-4;
      > content > header {
        margin-bottom: $rem-small;
        > h2 {
          margin-bottom: $rem-very-x7-small;
        }
        > h4 {
          margin-top: $rem-very-x7-small;
          color: rgb(53, 53, 53);
        }
      }
      > img {
        margin: $rem-very-x2-small;
        border-radius: $rem-very-x4-small;
        max-width: 15rem;
      }
    }
  }
}

#loadMoar {
  padding: $rem-small $rem-large;
}
