@use 'globals' as *;

h1 {
  display: inline-block;
}
#mapContainer {
  > article {
    justify-content: space-between;
    display: flex;
    align-items: stretch;

    > button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    > section {
      width: 100%;
      > button {
        margin-left: auto;
      }
    }

    > aside {
      display: none;
      flex-direction: column;

      > button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: $rem-medium-large;
        margin: $rem-very-x2-small;
        padding: $rem-small;
      }
    }

  }
}

#addMapBtn {
  font-size: $rem-medium;
  margin-top: $rem-medium;
  padding: $rem-very-x3-small $rem-small;
}

.displayFlex {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.pop-up-background {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  backdrop-filter: blur(6px);

  height: 100%;
  width: 100%;
}

.pop-up {
  width: 75%;

  padding: $rem-medium;

  box-shadow: 0 0 $rem-large rgba(0, 0, 0, 0.787);
  border-radius: $rem-very-x3-small;

  background-color: $colour-deep-champagne;

  form {
    display: flex;
    flex-direction: column;
    font-size: $rem-small;

    padding: $rem-very-x2-small $rem-small;

    input{
      &:nth-child(2n) {
        margin-bottom: $rem-small;
      }
    }
  }
}
table {
  text-align: center;
  font-size: $rem-small;

  tr:nth-child(odd) {background: $colour-deep-champagne-tint-2}

}
.deleteBtn {
  background-color: $colour-paradise-pink;
}
